* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

nav ul a,
nav .brand-logo,
nav .sidenav-trigger,
.dropdown-content li>a {
    color: #212121;
}

nav .brand-logo {
    font-size: 1.5rem;
}

@media only screen and (min-width: 991px) {
    nav .brand-logo {
        margin-left: 10px;
    }
}

.color-preview {
    width: 42px;
    height: 42px;
    position: relative;
}

@media only screen and (min-width: 601px) {
    .color-preview {
        left: 45%;
    }
}

@media only screen and (max-width: 600px) {
    .color-preview {
        left: 15%;
    }
}

.navbar-fixed nav {
    height: 56px;
    line-height: 56px;
}

.collection {
    border: none;
}

.collection .collection-item {
    border: none;
}

input[type=range].red-range::-webkit-slider-thumb {
    background: #f44336;
}

input[type=range].blue-range::-webkit-slider-thumb {
    background: #2196F3;
}

input[type=range].green-range::-webkit-slider-thumb {
    background: #4CAF50;
}

#generated-color {
    transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
}
